<!DOCTYPE html>
<html lang="{{ instance.lang }}">
<head>
  <meta charset="utf-8"/>
  {%- block head -%}
  <title>{%- block title -%}{{ instance.name }}{%- endblock title -%}</title>
  {%- endblock head -%}
</head>
<body>
  <header>{%- block header -%}{%- include "meta/header.html" -%}{%- endblock header -%}</header>
  <nav>{%- block nav -%}{%- include "meta/nav.html" -%}{%- endblock nav -%}</nav>
  <main>
    {%- block main -%}{%- endblock main -%}
    <aside>{%- block aside -%}{%- include "meta/sidebar.html" -%}{%- endblock aside -%}</aside>
  </main>
  <footer>{%- block footer -%}{%- include "meta/footer.html" -%}{%- endblock footer -%}</footer>
</body>
</html>
