{% extends "meta/base.html" %}
{% block title %}{{ instance.name }} - User Index{% endblock title %}
{% block head %}
  {{ super() }}
  <meta name="description" content="List of users local to this Bonfire instance." />
  <link rel="icon" href="favicon.svg" type="image/x-icon" />
  <link rel="stylesheet" href="style.css" />
{% endblock head %}
{% block header %}{{ super() }}{% endblock header %}
{% block nav %}{{ super() }}{% endblock nav %}
{% block main %}
  <h2>User Profiles</h2>
  <ul>
    <li>example@forum.example</li>
  </ul>
{% endblock main %}
{% block aside %}{{ super() }}{% endblock aside %}
{% block footer %}{{ super() }}{% endblock footer %}
